/*Definition of the various section*/
section.titlepage {
  page: titlepage;
}

section.toc {
  page: tableOfContent;
}

/*Set format and margin*/
@page {
  size: A4;
  margin: 30mm 25mm;
}

@page :right {

  @bottom-right-corner {
    content: counter(page);
  }
}

@page :left {
  @top-left {
    content: "Cour des Comptes";
    text-transform: uppercase;
    color: grey;
  }

  @bottom-left-corner {
    content: counter(page);
  }
}

/*Title Page Content*/

@page titlepage {
  margin: 10mm 10mm;

  @bottom-right-corner {
    content: none;
  }

  @top-right {
    content: none;
  }

  @bottom-left-corner {
    content: none;
  }

  @top-left {
    content: none;
  }
}

.titlepage {
  text-align: center;
}


.titlepage::before {
  content: url(./logo.svg);
}

.titlepage header {
  background-color: #90B0DD;
  position: absolute;
  top: 25%;
  height: 50%;
  width: 100%;
}


.titlepage h1 {
  text-align: right;
  color: white;
  text-transform: uppercase;
  margin-right: 10mm;
  margin-top: 25%;
  margin-bottom: 500px;
}

.booktitle {
  font-size: 45px;
  color: white;
}

div {}

.class {}

#id {}


/*Table of content*/

@page tableOfContent {
  @bottom-right-corner {
    content: none;
  }

  @top-right {
    content: none;
  }

  @bottom-left-corner {
    content: none;
  }

  @top-left {
    content: none;
  }
}

.toc li {}

.toc header {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.toc header::after {
  content: "Sommaire"
}

.toc h1 {
  display: none;
}

ol li {
  list-style-type: none;
}

ol li a {
  color: black;
  text-decoration: none;
}

/*Text Structure*/


.body-chapter header h1,
.front-component header h1,
.back-component header h1 {
  break-before: page;
}

body {
  counter-reset: h1;
}

.body-chapter header h1.ct {
  text-align: center;
  counter-reset: h2;
  counter-increment: h1;
}

.body-chapter h1:not(.ct) {
  counter-reset: h3;
  counter-increment: h2;
}

.body-chapter h2 {
  counter-reset: h4;
  counter-increment: h3;
}

.body-chapter h3 {
  counter-reset: h5;
  counter-increment: h4;
}

.body-chapter h4 {
  counter-reset: h6;
  counter-increment: h5;
}

.body-chapter h5 {
  counter-increment: h6;
}

.body-chapter header h1.ct::before {
  content: "Chapitre "counter(h1) ". "
}

.body-chapter h1:not(.ct)::before {
  content: counter(h1) "."counter(h2) ". "
}

.body-chapter h2::before {
  content: counter(h1) "."counter(h2) "."counter(h3) ". "
}

.body-chapter h3::before {
  content: counter(h1) "."counter(h2) "."counter(h3) "."counter(h4) ". "
}

.body-chapter h4::before {
  content: counter(h1) "."counter(h2) "."counter(h3) "."counter(h4) "."counter(h5) ". "
}

.body-chapter h5::before {
  content: counter(h1) "."counter(h2) "."counter(h3) "."counter(h4) "."counter(h5) "."counter(h6) ". "
}

/*Text content*/

p {
  text-align: justify;
  text-justify: inter-word;
}

apostil {
  text-align: right;
  color: red;
  font-weight: bold;
}

recommandation {
  font-weight: bold;
  text-indent: 20px;
}

body {
  counter-reset: recommandationCnt;
}

recommandation {
  counter-increment: recommandationCnt;
}

recommandation::before {
  content: "Recommandation "counter(recommandationCnt) ":\A";
  white-space: pre;
}

/*recommandation section*/

body {
  counter-reset: recommandationSectionCnt;
}

.recommandationItem {
  counter-increment: recommandationSectionCnt;
}

.recommandationItem::before {
  content: "Recommandation " counter(recommandationSectionCnt) ":\A";
  white-space: pre;
  font-weight: bold;
}