@media print{

    #list-toc-generated{
        list-style: none;
        padding-left: 0;
    }

    #list-toc-generated a {
        color: black;
        text-decoration: none;
        display: flex;
    }

    #list-toc-generated a .cn {
        display: flex;
        margin-right: 8px;
    }

    #list-toc-generated .toc-element a::after {
        content: target-counter(attr(href), page);
        float: right;
    }

    #list-toc-generated .toc-element-level-1 {
        font-size: 17px;
        margin-top: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    #list-toc-generated .toc-element-level-2 {
        margin-top: 8px;
        margin-left: 16px;
        margin-bottom: 4px;
        font-size: 17px;
    }

    #list-toc-generated .toc-element-level-3 {
        margin-top: 2px;
        margin-left: 45px;
        font-size: 16px;
    }

    #list-toc-generated .toc-element-level-4 {
        margin-top: 2px;
        margin-left: 64px;
        font-size: 15px;
    }

    #list-toc-generated .toc-element-level-5 {
        /*margin-top: 2px;*/
        margin-left: 72px;
        font-size: 15px;
    }


    /* target-text(attr(href), before) doesn't work for now, replace with counters (see below)*/
    /* #list-toc-generated .toc-element a::before{
        content: target-text(attr(href), before);
    } */

    /* counters */

    /*#list-toc-generated{ */
    /*    counter-reset: counterTocLevel1; */
    /*}*/

    /*#list-toc-generated .toc-element-level-1{ */
    /*    counter-increment: counterTocLevel1; */
    /*    counter-reset: counterTocLevel2; */
    /*}*/

    /*#list-toc-generated .toc-element-level-1::before{ */
    /*    content: counter(counterTocLevel1) ". ";*/
    /*    padding-right: 5px;*/
    /*}*/

    /*#list-toc-generated .toc-element-level-2{ */
    /*    counter-increment: counterTocLevel2; */
    /*}*/

    /*#list-toc-generated .toc-element-level-2::before{ */
    /*    content: counter(counterTocLevel1) ". " counter(counterTocLevel2) ". ";*/
    /*    padding-right: 5px;*/
    /*}*/

    /*  leader() doesn't work for now, replace with the hack bellow */
    /* #list-toc-generated .toc-element a::after{
        content: leader('.') " p. " target-counter(attr(href), page);
        float: right;
    } */

    /* hack for leaders */

    #list-toc-generated{
        overflow-x: hidden;
    }

    #list-toc-generated .toc-element::after{
        content: ".................................................................................................................................................";
        float: left;
        width: 0;
        padding-left: 5px;
        letter-spacing: 2px;
    }

    #list-toc-generated .toc-element{
        display: flex; 
    }

    #list-toc-generated .toc-element a::after{
        position: absolute;
        right: 0;
        background-color: white;
        padding-left: 6px;
    }

    #list-toc-generated .toc-element a{
        right: 0;
    }

} 