$dark-grey: #404040;
$light-grey: #cdcdcd;
$main-grey: #666;

$black: #000;
$green: #008000;
$purple: #800080;
$red: #a52a2a;
$white: #fff;
$yellow: #ff0;

$blue: #0d78f2;

.teamManager {
  font-family: 'Fira Sans Condensed';
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height: 100%;

  .groupList {
    flex: 1;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
  }

  .separator {
    clear: both;
    height: .1px;
  }

  .groupHeader {
    padding-top: 1%;
    display: flex;
    align-items: center;

    .groupTitle {
      letter-spacing: 5px;
      padding: 0 30px 0px 10px;
      text-transform: uppercase;

      h1 {
        color: $blue !important;
        font-size: 22px;
        font-style: normal;
        font-weight: normal;
        font-family: 'Vollkorn'!important;
        margin: 0 !important;
      }
    }

    .groupBtn {
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;

      .addIcon {
        -webkit-mask: url('./images/icon_add.svg') no-repeat 100% 100%;
        mask: url('./images/icon_add.svg') no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $main-grey;
        width: 24px;
        height: 24px;
        float: left;
        margin-right: 10px;
      }

      a {
        color: $main-grey;
        font-family: 'Fira Sans Condensed';
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }

  .userInputContainer {
    height: 30px;
    margin: 25px 20px 10px 20px;
    position: relative;

    .usernameInput {
      background-image: linear-gradient(to right, $dark-grey 50%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: 6px 1px;
      border: 0;

      float: left;
      outline: none;
      width: 100% !important;
    }

    .closeUsernameBtn {
      background-color: $white;
      color: $red;
      cursor: pointer;
      font-family: 'Fira Sans Condensed';
      // font-size: 18px;
      font-style: italic;
      padding: 2px 0;
      text-align: center;
      text-decoration: none;
      position: absolute;
      right: 0px;
      bottom: 5px;
    }

    .addUsernameBtn {
      background-color: $white;
      color: $blue;
      cursor: pointer;
      font-family: 'Fira Sans Condensed';
      // font-size: 18px;
      font-style: italic;
      padding: 2px 0;
      text-align: center;
      text-decoration: none;
      position: absolute;
      right: 25px;
      bottom: 5px;

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

    .successGroup {
      color: $green;
    }

    .failureGroup {
      color: $red;
    }
  }

  .teamMembersContainer {

    list-style: none;
    li {
      .memberContainer {
        cursor: 'default';
        display: flex;
        align-items: center;
      }

      .personContainer {
        background-image: linear-gradient(to right, $main-grey 50%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: 6px 1px;
        position: relative;
        width: 91.2%;
        align-items: center;
        display: flex;
        margin-bottom: 10px;
      }

      span {
        background-color: $white;
        color: #404040 !important;
        display: inline;
        font-size: 22px;
        font-family: 'Vollkorn';
        font-style: italic;
        padding-right: 10px;
        position: relative;
        top: 7px;
        word-wrap: break-word;
      }

      .actionsContainer {
        background-color: $white;
        // bottom: -6px;
        font-style: italic;
        position: relative;
        right: 0;

        .actionContainer {
          background-color: $white;
          // bottom: -8px;
          // position: absolute;
          // right: 20px;

          a {
            color: $blue;
            cursor: pointer;
            margin-left: 5px;
            text-decoration: none;

            &:hover {
              border-bottom: 2px solid $blue;
            }
          }
        }
      }

    }

    li:before {
      display: inline-block;
      content: "\2022";
     
      position: absolute;
      left: 32px;
      font-size: 22px;
      padding-top: 7px;
    }

    .blue {
      border-color: $blue;
    }

    .purple {
      border-color: $purple !important;
    }

    .yellow {
      border-color: $yellow !important;
    }
  }

  .groupSeparator {
    clear: both;
    height: 20px;
  }
}
